name: Frontend & Backend Azure CI

on:
    push:
        branches: [ main ]
        paths:
        - 'backend/**'
        - 'frontend/**'
    workflow_dispatch:

env:
  SUBREDDITBATTLEROYALE: 'subredditbattleroyale'
  DOTNET_VERSION: '9.0.x'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: azure/login@v1
      with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

    # Build & deploy frontend
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '20'
    
    - name: Install dependencies
      run: cd ./frontend; npm install
    
    - name: Build
      run: cd ./frontend; CI=false; npm run build

    - name: Upload to blob storage
      uses: azure/CLI@v1
      with:
        inlineScript: |
            az storage blob upload-batch --account-name '${{ env.SUBREDDITBATTLEROYALE }}' --auth-mode key -d '$web' -s ./frontend/build --overwrite

    # Build & deploy backend
    - name: Setup DotNet ${{ env.DOTNET_VERSION }} Environment
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: 'Resolve Project Dependencies Using Dotnet'
      shell: pwsh # For Linux, use bash
      run: |
        cd ./backend
        dotnet build --configuration Release --output output

    - name: 'Run Azure Functions Action'
      uses: Azure/functions-action@v1
      id: fa
      with:
        app-name: ${{ env.SUBREDDITBATTLEROYALE }}
        package: './backend/output'
    
    - name: 'Set Azure Function app settings'
      uses: azure/CLI@v1
      with:
        inlineScript: |
            az functionapp config appsettings set -n ${{ env.SUBREDDITBATTLEROYALE }} -g ${{ env.SUBREDDITBATTLEROYALE }} --settings Blockchain__ContractAddress=0xEA8831Bcb719914aB97131F48d9B2DC737dBD25a
            az functionapp config appsettings set -n ${{ env.SUBREDDITBATTLEROYALE }} -g ${{ env.SUBREDDITBATTLEROYALE }} --settings Blockchain__RpcUri=https://eth-mainnet.g.alchemy.com/v2/DIxVHPSSpQB7Z3ynvCUqhdzh6jadkqVY

    # Azure logout
    - name: logout
      run: |
            az logout
      if: always()
